* {
	padding: 0px;
	margin: 0px;
}
@font-face {
	src-
}
body {
	text-align: center;
}
h1 {
	padding-top: 50px;
	background: linear-gradient(to left,gray,white);
	margin: 50px;
	padding-bottom: 50px;
	font-size: 50px;
	font-family: sans-serif;

}
.ooo {
	background: linear-gradient(to left,gray,white);
	margin: 50px;
	padding-top: 1px;
	font-family: sans-serif;

}
#box {

	margin: 50px;

}
#send {
	margin: 10px;
	width: 100px;
	height: 50px;
	color: 
}